.nav {
    max-height: 5vh;
    min-height: 2vh;
    background-color: darkviolet;
    padding: 1rem;
}

.header {

}

.header h2 {
    margin: 0;
}

.footer {
    margin-top: auto;
}

.body {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 98vh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 75%;
    max-width: 22rem;
    min-width: 15rem;
    height: 60%;
    min-height: 20rem;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.resultsContainer {
    flex-grow: 2;
    background-color:rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 0.75rem;
    color: white;
    border-radius: 20px 20px 0 0;
}

.clearButton {
    background-color: darkgray;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: auto;
}

.bottomHalf {
    flex-grow: 8;
    display: flex;
    flex-direction: row;
}

.numberInput {
    flex-grow: 1;
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.numberButton {
    flex-grow: 8;
    width: 33%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
}

.numberButton:hover {
    background-color: lightslategray;
    border-radius: 20px;
}


.operators {
    flex-basis: 4rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.operatorButton {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
}

.operatorButton:hover {
    background-color:rgb(197, 223, 231);
    border-radius: 20px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}